<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/organizer" routerLinkActive="active" class="nav-link" >Event List</a>
        </li>
    </ul>
  </nav>
  
 
  <h2> Ticket List</h2>
  <table class = "table table-striped">
      <thead>
        <tr>
            <th> Customer Email</th>
            <th> Event Name</th>
            <th> Event Organizer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ticket of tickets" >
            <td> {{ ticket.customerEmail }} </td>
            <td> {{ ticket.eventName }} </td>
            <td> {{ ticket.eventOrganizer }} </td>
              
              
  
  
            
          </tr>
      </tbody>
  </table>
